---
title: CargoLoop - Existing Vehicle
---

<%= partial 'layouts/partials/vehicles/vehicle-search' %>
<header class="page--header">
  <div class="page--title">
    <h3>2012 Nissan Leaf <span>VIN: 4653897879 | Lot #: 9876535</span></h3>
  </div>
  <div class="page--actions">
    <button class="button--secondary">Save Vehicle</button>
    <button class="button--default">Cancel</button>
  </div>
</header>

<div class="row">
  <div class="columns-9__m columns-8__l">
    <%= partial 'layouts/partials/vehicles/existing/photos' %>
  </div>
  <div class="columns-3__m columns-4__l">
    <%= partial 'layouts/partials/vehicles/existing/vehicle-details' %>
  </div>
</div>
<div class="row">
  <%= partial 'layouts/partials/vehicles/existing/addtl-details' %>
</div>
<div class="row">
  <%= partial 'layouts/partials/vehicles/existing/dispatch-details' %>
</div>
<div class="row">
  <%= partial 'layouts/partials/vehicles/existing/shipping-details' %>
</div>
<div class="row">
  <%= partial 'layouts/partials/vehicles/existing/fees' %>
</div>
<div class="row">
  <div class="columns-6__m columns-6__l">
    <%= partial 'layouts/partials/vehicles/existing/emails' %>
  </div>
  <div class="columns-6__m columns-6__l">
    <%= partial 'layouts/partials/vehicles/existing/reports' %>
  </div>
</div>
<div class="row">
  <%= partial 'layouts/partials/vehicles/existing/documents' %>
</div>
<div class="row">
  <%= partial 'layouts/partials/vehicles/existing/log' %>
</div>
<footer class="page--footer">
  <div class="page--actions">
    <button class="button--secondary">Save Vehicle</button>
    <button class="button--default">Cancel</button>
  </div>
</footer>

</section>
